<%- include("header") %>

<div style="border: 2px solid green; padding: 20px; width: 1000px; margin: auto;">
    <h1>Add User</h1>
    <form action="/addUserSubmit" method="post">
        <table class="table table-bordered">
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>User Role</td>
                <td><input type="text" name="userRole" /></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><input type="text" name="phoneNumber" /></td>
            </tr>
            <tr>
                <td>User Image (URL)</td>
                <td><input type="text" name="userImage" /></td>
            </tr>
            <tr>
                <td>Verified</td>
                <td><input type="checkbox" name="verified" /></td>
            </tr>
            <tr>
                <td>Secret Key</td>
                <td><input type="text" name="secretKey" /></td>
            </tr>
            <tr>
                <td>History (comma separated)</td>
                <td><input type="text" name="history" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Add User" /></td>
            </tr>
        </table>
    </form>
</div>

<%- include("footer") %>
