<%- include("header") %>

<div style="border: 2px red dotted; height: 500px; width: 1000px;">
<h1>Add Product</h1>
<form action="addItemSubmit" method="post">
<table align="center" class="table table-bordered">
<tr>
<td>Product Name</td>
<td><input type="text" name="pName"/></td>
</tr>
<tr>
<td>Product Description</td>
<td><textarea name="pDescription"></textarea></td>
</tr>
<tr>
<td>Product Price</td>
<td><input type="number" name="pPrice"/></td>
</tr>
<tr>
<td>Quantity Sold</td>
<td><input type="number" name="pSold"/></td>
</tr>
<tr>
<td>Product Quantity</td>
<td><input type="number" name="pQuantity"/></td>
</tr>
<tr>
<td>Product Category</td>
<td><input type="text" name="pCategory"/></td>
</tr>
<tr>
<td>Product Offer</td>
<td><input type="text" name="pOffer"/></td>
</tr>
<tr>
<td>Product Rating</td>
<td><input type="number" step="0.1" name="pRating" max="5" min="0"/></td>
</tr>
<tr>
<td>Product Status</td>
<td><input type="text" name="pStatus"/></td>
</tr>
<tr>
<td colspan="2" align="center"><input type="submit" value="Submit" /></td>
</tr>
</table>
</form>
</div>

<%- include("footer") %>
